html{
    scroll-behavior: smooth;
}

/* Copied from Lab 1 */
nav {
    background: #222;
    padding: 5px 20px;
}
.menu ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item.button {
    order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

img#header{
    width: 50%;
    background-size: cover;
}

qset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

qa{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

q{
    justify-items: center;

}

as{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

img#q1a, img#q4a{
    background-color:white;
    width: 150px;
}

heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img#header{
    margin-left: 25%;
    margin-right: 25%;
    width:50%
}

as#text label{
    color: black;
}

as#text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

textarea{
    width: 50%;
}

#q7a{
    width: 250%;
}

img:hover{
    filter: brightness(150%);
}

[type=radio]:hover ~ img{
    filter: brightness(150%);

}

img#header:hover{
    filter: none;
}

img{
    filter: none;
}

#q6a:hover{
    text-decoration: underline;
}

input[type=radio] :checked{
    border: 5px magenta;
  }


  [type=radio] { 
    position: relative;
    bottom: 50%;
    left: 50%;
    top: 50%;
    opacity: 0%;
    border: 1px purple;
  }
  

  /* CHECKED STYLES */
  [type=radio]:checked ~ img {
    outline: 2px solid #f00;
  }

  [type=radio]:checked + label {
    outline: 2px solid #f00;
  }


/* Copied from https://developer.mozilla.org/en-US/docs/Web/CSS/:checked */
/* Labels for checked inputs */
  
  /* Radio element, when checked */
  input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
  }


/* End copy */


/* Copied from that same w3schools https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_modal_close */
/* But honestly, a lot of this I've added, so maybe adapted is the better word? */
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: all 0.25s ease-in;
    -moz-animation: all 0.25s ease-in;
  }
  
  /* Modal Content */
  div.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: all 0.25s ease-in;
  }
  
  /* The Close Button */
  span.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    animation: all 0.25s ease-out;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  input[type="radio"].not_chosen ~ img{
    filter: blur(5px);
  }
  
  input[type="radio"].not_chosen ~ img:hover{
      filter: blur(2px);
  }

  label.not_chosen{
      text-decoration: line-through;
  }


  /* Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider_pic */
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    margin-left: 20%;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background: #742f2f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 100px;
    border: 0;
    background: url('placeholder.jpeg');
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background: url("placeholder2.jpeg");
  }

  .slider::-moz-range-thumb {
    width: 75px;
    height: 100px;
    border: 0;
    background: url('placeholder.jpeg');
    cursor: pointer;
  }

  div.slidecontainer p{
      text-align: center;
  }

  
.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }


.footer {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

res{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


  img#event_icon{
      content: url("coming_soon.jpg");
      width: 4em;
  }

  img#event_icon.culture{
      content: url("painting.svg");
  }

  img#event_icon.nightlife{
      content: url("nightlife.svg");
  }

  img#event_icon.sports{
      content: url("sports.svg");
    }

  img#event_icon.boardgames{
      content: url("monopoly.svg");
  }

  img#event_icon.educational{
    content: url("space.svg");
}

#notify-badge.show_ns{
    position: absolute;
    right:-80px;
    top:-10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
    position:relative;
    padding-top:0px;
    display:inline-block;
    height: 50%;
}

#notify-badge{
    display: none;
}

#long_response{
    justify-content: left !important;
    margin-right: 100%;
}